.App {
  text-align: center;

}
*{
  margin: 0;padding: 0;
  /* background-color: rgba(255, 192, 209, 0.853); */

  background: #664E99;
}

.App .content{
  margin: 20px auto;
}
.App.content .mb{
  width: 20%;
}
